@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*:focus {
    outline: none;
}

html, body{
    width: 100%;
    height: 100%;
}

.container-linguica{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
 
.border-top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.border-top p{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    opacity: 1;
    left: 86px;
}

.border-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
}

.border-left{
    position: fixed;
    left: 0;
    top: 0;
    width: 40px; 
    height: 100%;
    background-color: #fff;
}

.border-right{
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: #fff;
}

.first-step{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.first-home-container{
    background-color: #FF334F;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.svg-logo{
    opacity: 1;
    height: 60px;
    width: auto;
    fill: #FFFFFF;
}

.textLeftSection{
    position: relative;
    width: 500px;
    height: 320px;
    top: 170px;
    left: 90px;
    bottom: 342px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.textLeftSection p{
    position: relative;
    font-family: 'Roboto';
    color: white;
    font-weight: 100;
    font-size: 40px;
    text-align: left;
}

#svgOla{
    position: absolute;
    right: -15%;
    opacity: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.first-home-container p{
    position: relative;
    text-align: center;
    right: 6%;
    opacity: 0;
    font-family: 'Roboto';
    font-weight: 100;
    color: white;
    font-size: 50px;
    width: 563px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-scroll{
    transform: scale(-1, -1) rotate(270deg);
    position: absolute;
    opacity: 0;
    position: absolute;
    right: -75px;
    height: 33px; 
    font-family: 'Roboto';
    top: 85%;
}

.arrow-down{
    transform: rotate(270deg);
}

.second-step{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.second-container{
    background-color: greenyellow;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(assets/bgUser.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.third-step{
    height: 118vh;
    width: 100%;
}

.third-container{
    position: relative;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.third-middle-top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.third-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 17em;
    margin-left: 5em;
    width: 16em;
    margin-top: 15em;
}

.third-text-1{
    position: relative;
    font-size: 55px;
    font-family: 'Roboto';
    font-weight: 400;
}

.third-text-2{
    position: relative;
    font-size: 21px;
    font-family: 'Roboto';
    font-weight: 400;
}

.third-text-3{
    position: relative;
    background-color:#FF334F;
	border-radius:28px;
	border:1px solid #FF334F;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family: 'Roboto';
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    text-align: center;
    width: 160px;
    align-self: center;
    transition: 0.2s ease-in-out all;
}

.third-text a:hover{
    background-color: #fff;
    border: 1px solid #ff3360;
    color: #ff3360;
}

.columns{
    width: 700px;   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3em;
}

.column1{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 90px;
    margin-top: 180px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column2{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 130px;
    margin-top: 160px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column3{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 230px;
    margin-top: 90px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column4{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 360px;
    margin-top: 15px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column5{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 240px;
    margin-top: 80px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column6{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 240px;
    margin-top: 125px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.column7{
    position: relative;
    width: 75px;
    transform: rotate(360deg);
    height: 130px;
    margin-top: 80px;
    background: transparent linear-gradient(180deg, #B26591 0%, #FB3552 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.app-phones{
    position: absolute;
    height: 700px;
    right: 115px;
    top: 115px;
}

.phone-1{
    position: absolute;
    height: 700px;
    right: 215px;
    top: 130px;
}

.phone-2{
    position: absolute;
    height: 700px;
    right: 21px;
    top: 200px;
}   

.fourth-step{
    height: 110vh;
    width: 100%;
    position: relative;
}

.fourth-container{
    position: relative;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fourth-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 25vh;
    height: 8em;
    margin-left: 15em;
    width: 17em;
    text-align: left;
}

.fourth-text h2{
    font-size: 45px;
    font-family: 'Roboto';
    font-weight: 400;
}

.fourth-text h4{
    font-size: 21px;
    font-family: 'Roboto';
    font-weight: 400;
}

.fourth-text a{
    background-color:#FF334F;
	border-radius:28px;
	border:1px solid #FF334F;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family: 'Roboto';
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    text-align: center;
    width: 160px;
    align-self: center;
    transition: 0.2s ease-in-out all;
}

.fourth-text a:hover{
    background-color: #fff;
    border: 1px solid #ff3360;
    color: #ff3360;
}

.fourth-container-text{
    padding-top: 5em;
}

.cartao-credito{
    position: absolute;
    height: 700px;
    width: auto;
    left: 60vh;
    top: -5vh;
}

.fifith-step{
    height: 110vh;
    width: 100%;
    background-color: white;
    position: relative;
}

.fifith-container{
    background-image: url('festa.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 10em;
}

#text-fifith{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 50px;
    width: 670px;
    top: 15vh;
    text-align: center;
    position: relative;
    margin: auto;
}

.not-fixed{
    margin-top: 190vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#big-mundi{
    position: absolute;
    height: 200px;
    left: 1153px;
    bottom: 0px;
}

#BLANK{
    bottom: 0;
    position: absolute;
    width: auto;
    height: 190px;
    left:350px; 
}

#little-mundi{
    bottom: 30px;
    height: 18px;
    width: 320px;
    margin-top: 1em;
    margin-left: 2.5em;
}

#face-icon{
    position: absolute;
    right: -5px;
    height: 33px;
    top: 40vh;
    opacity: 0;
}

#insta-icon{
    position: absolute;
    right: 10px;
    height: 33px;
    top: 50vh;
    opacity: 0;
}

#in-icon{
    position: absolute;
    right: 5px;
    height: 33px;
    top: 45vh; 
    opacity: 0;
}

.pinkButton{
    background-color: #FF334F;
    border-radius: 28px;
    border: 1px solid #FF334F;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-align: center;
    width: 160px;
    align-self: center;
}

#internacional-svg{
    position: absolute;
    bottom: 0;
    left: 950px;
    width: auto;
    height: 250px;
}

.footer{
    height: 0vh;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.container-footer{
    position: relative;
    top: 8vh;
}

.text-footer{
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 500;
}

.footer a{
    position: relative;
    background-color:#FF334F;
	border-radius:28px;
	border:1px solid #FF334F;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family: 'Roboto';
	font-size: 20px;
    font-weight: 500;
	padding:12px 31px;
    text-decoration:none;
    text-align: center;
    width: 160px;
    align-self: center;
    transition: 0.2s ease-in-out all;
    top: 10%;
}

.botoesFooter{
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* .footer-button-termos{
    font-size: 11px !important;
    width: unset !important;
    background-color: #ffff !important;
    color: #FF334F !important;
    padding: 7px 16px !important;
    top: 20% !important;
} */

/* .footer-button-termos:hover{
    background-color: #FF334F !important;
    border: 1px solid #fff !important;
    color: #fff !important;
} */

/* .footer a:hover{
    background-color: #fff;
    border: 1px solid #ff3360;
    color: #ff3360;
} */

.footer-scroll{
    transform: scale(-1, -1) rotate(270deg);
    position: absolute;
    opacity: 0;
    position: absolute;
    right: -75px;
    height: 33px; 
    top: 38em;
}

.arrow-up{
    transform: rotate(270deg);
}

.form{
    height: 0vh;
    width: 100%;
    background-color: white;
    position: relative;
}

.form-button{
    position: relative;
    background-color:#FF334F;
	border-radius:28px;
	border:1px solid #FF334F;
	display:inline-block;
	cursor:pointer;
	color:#FFFFFF;
	font-family: 'Roboto';
	font-size: 20px;
    font-weight: 500;
	padding:12px 31px;
    text-decoration:none;
    text-align: center;
    width: 160px;
    align-self: center;
    transition: 0.2s ease-in-out all;
}

.form-text{
    position: relative;
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    width: 57%;
    margin: 0 auto;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15vh;
    height: 100%;
    align-items: center;
    position: relative;
}

.form-footer span{
    margin-right: 10vh;
    font-family: Roboto;
}

/*.form .form-1{
    height: 20vh;
}

.form .form-2{
    height: 20vh;
}*/

.form-footer{
    position: absolute;
    bottom: 20vh;
    font-family: Roboto;
    opacity: 0;
}
.form-contato{
	font-size: 21px;
	font-family: Roboto;
}
.form-contato input{
	color: #999;
	border: 1px solid #999;
	border-radius: 30px;
	padding: 15px 20px;
	margin-top: 10px;
	width: 100%;
	font-size: 18px;
}
.form-contato label{
	display: block;
	margin-left: 10px;
	font-weight: 500;
}
.form-contato{
	width: 50%;
	margin: 75px auto;
    margin-bottom: 30px;
	display: flex;
    flex-direction: column;
}
.form-1{
	display: flex;
    justify-content: space-between;
}
.form-1 .nome,.form-1 .telephone{
	width: 48%;
}
.form .form-2{
   margin-top: 35px;
}
.btn-form{
	width: 50%;
}


.termosecondic{
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}

.termosecondic:hover{
    background-position: -99.99% 0;
    cursor: pointer;
}

.mobile{
    display: none;
}

/*  Mobile  */

@media only screen and (max-width: 1110px) {
    .container-linguica{
        display: none;
    }
    #borders{
        display: none;
    }
    .mobile{
        display: block;
        height: 100%;
        width: 100%;
    }
    .mobile-cont{
        height: 720vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .first-screen{
        height: 100%;
        width: 100%;
        background-color: #fff;
    }
    .second-screen{
        height: 100%;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .third-screen{
        height: 75%;
        width: 100%;
    }

    .fourth-screen{
        height: 120%;
        width: 100%;
        position: relative;
    }

    .fifith-screen{
        height: 110%;
        width: 100%;
        position: relative;
    }

    .fifith-container {
        background-image: url(festa.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60%;
        padding-top: unset;
    }

    .sixth-screen{
        height: 100%;
        width: 100%;
    }
    .first-home-container{
        width: 50%;
        position: relative;
    }
    #svgOla{
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .abra-conta-mobile{
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        position: relative;
        color: #fff;
        padding: 60px;
        font-weight: 400;
        max-width: 650px;
    }
    .second-container{
        background-attachment: fixed;
        position: relative;
        background-size: cover;
        background-position-x: 60%;
    }
    #big-mundi {
        position: absolute;
        height: 86px;
        left: 0px;
        bottom: 0;
    }
    #text-fifith {
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 157%;
        width: 83%;
        top: 0;
        text-align: center;
        position: relative;
        margin: auto;
        padding-top: 25%;
    }
    .comemore {
        height: 40%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text-footer {
        font-weight: 900;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 0vh;
        font-size: 40px;
    }
    .footer-button{
        position: relative;
        background-color: #FF334F;
        border-radius: 28px;
        border: 1px solid #FF334F;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 500;
        padding: 12px 31px;
        text-decoration: none;
        text-align: center;
        width: 160px;
        align-self: center;
        transition: 0.2s ease-in-out all;
        top: 10%;
    }
    .last-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form-screen{
        height: 100%;
        background: #fff;
    }
    .form-contato input {

        margin-top: 10px;
        margin-bottom: 30px;
    }
    .form-contato{
        margin: 30px auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        width: 85%;
    }
    .form-text {
        font-size: 36px;
        width: 85%;
        max-width: 350px;
        margin: 0 auto;
        padding-top: 20%;
    }

    .img-barras{
        height: 40%;
        width: 100%;
        position: relative;
        top: 10%;
    }

    .phones-mob{
        position: absolute;
        top: 15%;
        height: 55%;
        right: 0;
    }

    .text-phones {
        position: absolute;
        bottom: 25%;
        left: 2%;
        height: 15%;
    }

    .text-phones-2{
        position: absolute;
        bottom: 15%;
        left: 2%;
        height: 8%;
    }

    .facatudo-cartao-mobile{
        position: absolute;
        bottom: 35%;
        left: 2%;
        height: 15%;
    }

    .textcartao-mobile{
        position: absolute;
        bottom: 25%;
        left: 2%;
        height: 8%;
    }

    .internacional-mobile{
        height: 22%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .cartao-mobile{
        position: absolute;
        right: 0;
        height: 60%;
        top: -10%;
    }

  }